<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Todos los administradores</h1>
        </div>
        <div class="col-2">
            <a href="/singup" class="btn btn-success my-3 mx-3"><i class="bi bi-person-plus-fill"></i> Agregar</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>
                        <td>{{dni}}</td>
                        <td>{{telefono}}</td>
                        <td>{{email}}</td>
                        <td>
                            {{>editarUser}}
                            {{!-- <a href="/modificar/:id" class="btn btn-warning d-inline"><i class="bi-pencil"></i></a> --}}
                            <a href="/borrar/:id" class="btn btn-danger "> <i class="bi-trash"></i> </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
                                          
                                       
  document.addEventListener("DOMContentLoaded", function(event) {
    let bottonTomarDatos = Array.prototype.slice.apply(document.querySelectorAll('.guardar'))
    //console.log(bottonTomarDatos)
    bottonTomarDatos.map((e)=>{
        e.addEventListener('click',(r)=>{
            let arreglo = []
            arreglo.push(r.path[2].children[1].children[0][0].value)
            arreglo.push(r.path[2].children[1].children[0][1].value)
            arreglo.push(r.path[2].children[1].children[0][2].value)
            arreglo.push(r.path[2].children[1].children[0][3].value)
            arreglo.push(r.path[2].children[1].children[0][4].value)
            Array.prototype.slice.apply(document.querySelectorAll('.cambioNombre')).map((e)=>{
                e.innerHTML = arreglo[0]
            })
            Array.prototype.slice.apply(document.querySelectorAll('.cambioApellido')).map((e)=>{
                e.innerHTML = arreglo[1]
            })
            Array.prototype.slice.apply(document.querySelectorAll('.cambioDNI')).map((e)=>{
                e.innerHTML = arreglo[2]
            })
            Array.prototype.slice.apply(document.querySelectorAll('.cambioTelefono')).map((e)=>{
                e.innerHTML = arreglo[3]
            })
            Array.prototype.slice.apply(document.querySelectorAll('.cambioEmail')).map((e)=>{
                e.innerHTML = arreglo[4]
            })
            console.log(arreglo)
            //r.path[2].children[1].children[0][0]
        })
    })


    //cerrar modal de confirmacion
    let confirmacionCerrado = Array.prototype.slice.apply(document.querySelectorAll('.cerraConfirmacion'))
    //console.log(confirmacionCerrado)
    confirmacionCerrado.map(e=>{
        e.addEventListener('click',(r)=>{
            r.path[4].click()
        })
    })
  });
  
</script>
